<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <title>{{ title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" type="image/x-icon">
  <link rel="icon" href="{{ '/favicon.ico' | url }}" type="image/x-icon">
</head>

<body class="text-white">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{{ '/assets/images/brand.png' | url }}" alt="Logo" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% assign nav = collections.page | sort: 'data.order' %}
          {% for navPage in nav %}
            <li {% if page.url == navPage.url %} class="active" {% endif %}>
              <a class="nav-link" href="{{ navPage.url }}">{{ navPage.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    {{ content }}
  </div>

  <nav class="navbar navbar-dark footer">
    <div class="container">
      <span class="navbar-text small">
        Made with {% include "heart.html" %} by <a class="link" href="https://permortensen.com/">Per</a> (2017)
      </span>
      <span class="navbar-text small">
        Not affiliated with Infogrames/Atari
      </span>
    </div>
  </nav>

  <script src="{{ '/assets/js/jquery.slim.min.js' | url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | url }}"></script>
</body>

</html>
