html {
  position: relative;
  min-height: 100%;
}

body {
  background: #000;
  padding-bottom: 80px; /* for footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

p a,
p a:visited,
.link,
.link:visited {
  color: inherit;
  text-decoration: underline;
}

p a:hover,
p a:active,
.link:hover,
.link:active {
  color: #ddd;
  text-decoration: underline;
}

.img-download {
  max-height: 10em;
}
