@page
@{
    ViewData["Title"] = "Background";
}
<div class="container mt-3">
  <h1 class="display-4 text-center">BACKGROUND</h1>
  <p class="lead text-center">What's the deal?</p>

  <p>
    Crimson Wars is a real-time strategy game for the PC that mostly revolves around micro-managing military units on a futuristic, colonized Mars. It was released in 1999 by Infogrames on a CD-ROM along with three bonus games: Backgammon, Diagonal of Aces, and Mini Golf.
    This package was marketed as being online-enabled, prominently featuring the title <em>The Internet Games</em>. For Crimson Wars, up to four people could join the same game as opposing factions and even chat with each other using an in-game text chat feature.
  </p>
  <img class="w-25 mx-3 float-right" src="~/img/cover.jpg">
  <p>
    Of course, after nearly 20 years, the servers enabling the online features are long gone, and Crimson Wars can no longer be played as a multiplayer game. Fortunately, unlike many games today, it does not require a persistent connection or online activation to play solo.
  </p>
  <p>
    From what I understand, these games actually used an online gaming service called Oceanline — also known as <em>The Games Channel</em> <!-- (US trademark 75367477, October 1997) --> — a network operated by Infogrames in the late 90s. In addition to the games, Oceanline also supported a chat room feature (a (now non-functional) chat client was included on the Internet Games disc as well, called <em>The Game Room</em>). If this all sounds a bit vague, that's because it is. Information on both Oceanline and Crimson Wars is extremely scarce these days.
  </p>
  <p>
    The official Oceanline website appears to have been active from 1997 to early 2002. The Wayback Machine reveals that Crimson Wars appears in their <a href="http://web.archive.org/web/20010714214920/http://www.oceanline.com:80/us/games/main-simulation.htm">list of games</a> in the summer of 2001, though it was likely available earlier than that. An <a href="http://www.angelfire.com/ca/SiteB/oceanline.html">Oceanline fan page</a>, miraculously intact to this day, has records dating back to <a href="http://web.archive.org/web/19990219215421/http://www.angelfire.com/ca/SiteB/oceanline.html">February 1999</a>, and this revision mentions Crimson Wars. Unfortunately, most of the links are dead, and the contact email addresses are no longer valid.
  </p>
  <p>
    While searching high and low for information on Oceanline, a curious detail came up on <a href="http://www.legendsworld.net/shooter/game/9579">this page</a> about another Infogrames title, Stellar Mercenaries: <em>"It was originally supposed to be available online through 'Oceanline' but the network closed down before it happened. So Infogrames sold the game as a single player game"</em>. If Oceanline had already closed down by the game's 1997 release, then something doesn't add up about the 1999 release of Crimson Wars and its inclusion on Oceanline. I suspect this page may be in error.
  </p>
  <p>
    From the general absence of information, I would say Oceanline and Crimson Wars were not huge successes. If you're reading this page and happen to have some insight on Oceanline, Crimson Wars, or the online activities of Infogrames at the time, be sure to <a href="https://permortensen.com/about">drop me a line</a>.
  </p>
  <p>
    One last thing: most of the text in the <em>story</em>, <em>missions</em> and <em>gameplay</em> sections were transcribed from the game and are presented mostly unmodified.
  </p>
</div>
