@page
@{
    ViewData["Title"] = "Download";
}

<div class="container mt-3">
  <h1 class="display-4 text-center">DOWNLOAD</h1>
  <p class="lead text-center">Try it out.</p>

  <h2>The game</h2>
  <div class="row mb-5">
    <div class="col">
      <p>
        Download the game as an ISO image, ready to mount and install. In addition to Crimson Wars itself, the disc includes three bonus games: <em>Backgammon</em>, <em>Diagonal of Aces</em>, and <em>Mini Golf</em>.
      </p>
      <p>
        Crimson Wars runs only on Windows 9x. If you don't keep a computer from the turn of the millenium around, you might be interested in getting the virtual machine too.
      </p>
      <p>
        This image is a simple repack of the files on the original disc, resulting in a reduced image size and broad compatibility with virtual machines and mounting tools. If you want an exact binary copy of the disc, <a href="https://archive.org/details/Crimson_201603">check this out</a>, though it will likely require conversion to be mountable in a VM.
      </p>
    </div>
    <div class="col-12 col-md-3 text-center">
      <a class="link" href="~/downloads/crimson.iso">
        <h1><i class="fa fa-gamepad"></i></h1>
        <h3>Download</h3>
      </a>
    </div>
  </div>

  <h2>Virtual machine</h2>
  <div class="row mb-5">
    <div class="col">
      <p>
        Download a pre-configured virtual machine containing Windows 98, necessary drivers, and the installed game. This <em>.ova</em> file can be easily imported in <a href="https://www.virtualbox.org/">VirtualBox</a> using <em>File > Import appliance</em>.
      </p>
      <p>
        You will still need to download the game ISO above and "insert" it to play: <em>Devices > Optical drives > Choose disk image</em>. The launcher should start automatically, but if it doesn't, double click <em>D:</em> in <em>My Computer</em> or find <em>The Internet Games</em> in the start menu.
      </p>
      <p>
        Unfortunately, it isn't perfect. Windows 9x is in the uncomfortable situation of being both too old to be generally useful and too new to be a popular choice for classic games. While Crimson Wars is definitely playable, the cursor tends to flicker, and there is no music as the virtual sound card provided by VirtualBox does not support MIDI. If you want to heighten the atmosphere (and who wouldn't?), you might be interested in playing the music separately by getting the soundtrack below.
      </p>
      <p>
        Note that providing downloads like this is at best a gray area. With Windows 98 being out of sale and support for over a decade, I personally feel this is acceptable. If you don't, you can buy an original copy of Windows 98 and install the game on that. You will also need the appropriate graphics drivers as the game requires at least 256 colors to run.
      </p>
    </div>
    <div class="col-12 col-md-3 text-center">
      <a class="link" href="~/downloads/crimson.ova">
        <h1><i class="fa fa-desktop"></i></h1>
        <h3>Download</h3>
      </a>
    </div>
  </div>

  <h2>Soundtrack</h2>
  <div class="row mb-5">
    <div class="col">
      <p>
        The composer of the in-game soundtrack of Crimson Wars, Michael Pummell, has graciously donated 5 tracks in high quality (256k) MP3. The download also includes an M3U playlist of them, perfect for providing background music while playing. They can also be found (in lower quality) on <a href="https://www.youtube.com/user/MrMpummell">Michael's YouTube channel</a>.
      </p>
      <div class="text-center">
        <audio controls preload="metadata" src="~/downloads/crimson1.mp3" class="mw-100"></audio><br>
        <audio controls preload="metadata" src="~/downloads/crimson2.mp3" class="mw-100"></audio><br>
        <audio controls preload="metadata" src="~/downloads/crimson3.mp3" class="mw-100"></audio><br>
        <audio controls preload="metadata" src="~/downloads/crimson4.mp3" class="mw-100"></audio><br>
        <audio controls preload="metadata" src="~/downloads/crimson5.mp3" class="mw-100"></audio>
      </div>
    </div>
    <div class="col-12 col-md-3 text-center">
      <a class="link" href="~/downloads/soundtrack.zip">
        <h1><i class="fa fa-play"></i></h1>
        <h3>Download</h3>
      </a>
    </div>
  </div>

  <h2>Intro</h2>
  <div class="row mb-5">
    <div class="col">
      <p>
        And just as a bonus, here's the intro video in modern H.264, converted directly from the original Smacker format video shipped with the game. This is likely the best possible quality without having the master.
      </p>
      <div class="text-center">
        <video controls preload="metadata" src="~/downloads/intro.mp4" class="mw-100"></video>
      </div>
    </div>
    <div class="col-12 col-md-3 text-center">
      <a class="link" href="~/downloads/intro.mp4">
        <h1><i class="fa fa-video-camera"></i></h1>
        <h3>Download</h3>
      </a>
    </div>
  </div>
</div>
