@page
@{
    ViewData["Title"] = "Missions";
}

<div class="container mt-3">
  <h1 class="display-4 text-center">MISSIONS</h1>
  <p class="lead text-center">Hello, Sergeant.</p>

  <h2>Mission: Cyberscan</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        In order for us to evaluate your combat capabilities, we've decided to give you a relatively easy first mission. The town of Freemancos has been occupied for several months by a section of rebel enemy troops.
        <br>
        Your mission is therefore quite simple: destroy all enemy units patrolling in the town and its surroundings. Destroy or take control of all of the various administrative and military buildings, especially the two airports.
      </p>
      <p>
        Please note that our intelligence has indicated that various governments are interested in Freemancos. Beware, you might encounter units of regular armies.
        <br>
        Good luck Sergeant!
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/mission-cyberscan.png">
    </div>
  </div>

  <h2>Ambush on Mount Neptune</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        CyberScan 04 is the main television network in Olympia. Isolated in the Thor desert, it was surrounded by Terrestrial Robotic Units (TRU) following the disappearance of Governor Xicander...
      </p>
      <p>
        The manager of CyberScan 04 came to us for help. If we can get rid of the TRU's for him, he will agree to broadcast our propaganda. But we suspect that this traitor has made similar proposals to our adversaries. It is therefore likely that you will have to deal with an enemy commando...
        <br>
        Your mission is to take control of the area and allow an Engineering Armoured Vehicle to enter the premises of CyberScan 04.
      </p>
      <p>
        You will be parachuted to a spot near your target. It is up to you to discover the enemy positions and to eliminate them if needed. Good luck!
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/ambush-on-mount-neptune.png">
    </div>
  </div>

  <h2>Raid on Ostendia</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        Situated north of Olympia, the vast complex of Neo-Nuremberg supplies the entire area along the border with raw materials. A Kesh Rhan vessel has crashed on a neighbouring mountain and its crew has taken control of the complex. The local authorities have tried in vain to get help from the central government, which is completely overloaded since the disappearance of Governor Xicander. They have therefore decided to look elsewhere for help...
      </p>
      <p>
        And elsewhere is us! Our government and our industrialists have had their eye on Neo-Nuremberg for a long time. Your mission is to take hold of the Headquarters on which the factories of Neo-Nuremberg rely. Its automatic defenses have been destroyed, but the Kesh Rhan rebels have robot troops on site...
        <br>
        You have 36 hours to take over the HQ. Past this deadline, our enemies will launch a massive air strike with little hope for us...
      </p>
      <p>
        If we succeed, our country will hold a beach head in Olympia: a protectorate which will allow us to produce our weapons and robotic material on site! Careful though! If the HQ were to be destroyed, our bio-engineering units would be unable to restore it because of the complexity of its control system. If this happens, your mission will be a failure...
      </p>
      <p>
        Your troops will be parachuted west of your main target.
        <br>
        Good luck Sergeant!
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/raid-on-ostendia.png">
    </div>
  </div>

  <h2>Alea Jacta Est</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        We need to take the advantage over our enemies. We're going to try an incursion deep in the neutral zone. Your mission is to destroy all research centers built there by our neighbours.
      </p>
      <p>
        You may form temporary alliances with the enemy, but don't waste time... Your primary goal is to stop their research efforts and give our scientific teams sufficient time to accomplish our own development plans.
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/alea-jacta-est.png">
    </div>
  </div>

  <h2>Tuan-Lee-Lue</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        Gentlemen, your attention please!
      </p>
      <p>
        We wish to pursue our northern offensive. We need to maintain a powerful logistical chain. The artificial island of Tuan-Lee-Lue is therefore a prime target. The energy of its energy center and generators is essential to our plan. Your mission is to take control of the station in the center of the island and wait until the engineering troops arrive. Be careful though, defense forces are equipped with the latest generation of weapons and will fight back fiercely.
      </p>
      <p>
        Tuan-Lee-Lue is home to a new technology, power generators. They accelerate the output potential of your factories while reducing the amount of energy needed to produce units. Controlling one or more of these generators will greatly facilitate your victory!
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/tuan-lee-lue.png">
    </div>
  </div>

  <h2>The Landing</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        The success of our offensive strike on the artificial Tuan-Lee-Lue island has given us increased chances of success for our campaign. We must now establish a beach head on the northern coast. In order to achieve this objective, we must attack the Joryss port, now under enemy control. We've concluded a temporary alliance with our neighbours, thus allowing infiltration of agents and equipment inside Joryss. They're ready for the assault and await your command!
      </p>
      <p>
        Attention: the motivations of our "allies" are unclear, so they might turn against us once all hell breaks loose...
      </p>
      <p>
        Your mission is to take control of the tank factory, the energy center and two barracks, and to keep them in mint condition until reinforcements arrive.
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/the-landing.png">
    </div>
  </div>

  <h2>Canyon Party</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        Thanks to your victory at Joryss, we now have a beach head on the coast. High Command has just given us the green light to move on.
      </p>
      <p>
        Our best option is to go through the canyons situated north east of the port. Observation satellites indicate important troop movements inside this canyon labyrinth... The enemy hopes to contain our offensive by using the land to its advantage. Securing the zone is vital to us. Your mission is to go through the canyons and take control of the HQ guarding the exit while the rest of our forces clean up the area.
      </p>
      <p>
        Attention: a last minute report tells us a few Kesh Rhan have allied with the enemy. It looks like they're from the Dead-Head Clan...
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/canyon-party.png">
    </div>
  </div>

  <h2>Cyberscan Expert</h2>
  <div class="row mb-5">
    <div class="col text-justify">
      <p>
        During your first mission you took control of the city of Freemancos and of its surrounding territories. While you were on campaign, the inhabitants rebelled with the help of a few traitors and regained their independence.
        <br>
        Your mission is simple: crush the rebellion, destroy or repossess all enemy installations.
      </p>
      <p>
        One last detail: the rebels have put in place a VERY efficient defense system, so be prepared for some heavy guerrilla warfare. Our intelligence reports have told us that our enemies are highly interested by Freemancos and the technologies we developed there. You might encounter them. It's your decision, but remember, we must regain control at all costs. Good luck.
      </p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img class="img-fluid" src="~/maps/cyberscan-expert.png">
    </div>
  </div>
</div>
